
@import url('bootstrap.css');


#main-body
{
	background-color: #5AD6FC;
    background-size: 100%;

}

#wrapper
{

    position:relative;
    min-width: 500px;



}

#wrapper2
{
	
	background-repeat: no-repeat;
	min-height:100%;
    position:relative;
    max-width: 700px;
    min-width: 500px;
    height: 100px;
    margin-left: 20px;



}


#main-logo
{
	background-image: url(../images/second.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	

}

#main
{
	width: 50%;
	
	
	
}

#search {
  display: block;
  width: 100%;
  height: 70px;

  margin-top: 5%;
  margin-bottom: 2%;

  line-height: 3;
  color: #555;

  font-size: 24px;
  text-align: center;
  background-color: rgba(0, 0, 0, .075);
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(1, 3, 2, .075);
          box-shadow: inset 0 0px 0px rgba(1, 3, 2, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-default {
  color: #428bca;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 0px;
  width: 100%;
  min-height: 20%;
  font-weight: bold;

  
}





.header

{
	margin-top: 30%;	
	text-align: center;
	letter-spacing: 7px;
	line-height: 40px;
	font-size: 35px;
	color: white;
	text-shadow: 0 1px 2px black;

	font-family: gisha;
}

#sub-tagline
{

	color: white;
	text-shadow: 0 1px 2px black;
	font-family: gisha;

}

#background
{

}




.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: white;
  background-color: #428BCA;
  border-color: #adadad;
  font-weight: bold;
}


.jumbotron .container-fluid {
  height: 100%;
  
  
}

#LOGO {

	
	background-size: 100%;
	background-position: center;
	height: 100%;
	width: 100%;
	
	
	background-color: transparent;
	
	
}

#or
{
	text-align: center;
	color: green;
}

#dollar
{
	margin-bottom: 3px;
	text-align: center;
}


#early
{
	margin-top: 2px;
	width: 70%;
	height: 70px;
	line-height:  50px;
	letter-spacing: 2px;
	border-radius: 0px;

	font-family: Century Gothic;
	text-shadow: 0 1px 3px  #1E1D1D;
	border: 0px;
	box-shadow-right: 0 0px 4px 0px #1E1D1D;
	
}





#username
{
	border-radius: 0px;

}

#password
{
	margin-top: 0px;
	border-radius: 0px;
}

#login-button
{
	margin-top: 0px;
	border-radius: 0px;
	width: 100%;
	margin-bottom: 0px;


}

#log-in-header
{
	color: white;
	background-color: #428BCA;
	height: 30px;
	
	font-weight: bold;
	text-align: left;
	

}

#header-greeting
{
	margin-left: 7px;
	padding-top: 4px;
}

#login-button
{
	height: 40px;
}

#signup
{
position: relative;

}
#sign-up-container
{
	width: 50%;

	margin-left: 0px;
	position: absolute;
	min-width:550px;
}



#signup-header
{
	position: relative;
	margin-top: 0px;
	color: white;
	font-family: gisha;
	border-radius:0px;
	border-color: transparent;
	background-color: #FA8800;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	margin-bottom: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 60px; 
	font-size: 35px;
	text-align: left;
	padding-left: 10px;
	text-shadow: 0 1px 3px  grey;
	letter-spacing: 1px;
}
#header-brand
{
	background-image: url(../images/new2.png);
	background-size: 60%;
	background-repeat: no-repeat;
	width: 90px;
	margin-left: 10px;

}
#nav-header-menu
{
	box-shadow: 0 0px 10px 1px black;
	background-color: transparent;
	width: 100%;
	min-width: 100%;

}
.navbar-default {
    background-color: rgba(252, 252, 252, 0.65);
    border-color: rgba(230, 230, 230, 0);
    font-weight: bold;
}
.navbar-form .form-control 
{
    display: inline-block;
    vertical-align: middle;
    min-width: 351px;
    max-width: 100%;
    border-radius: 0px;	
    font-family: gisha;
    
}

.navbar-form .form-control:focus
{
    display: inline-block;
    vertical-align: middle;
   
    border-radius: 0px;	
    border-color:#0698C5;


    font-family: gisha;
}


#search-btn-header
{
background-color: #0698C5; 
border-radius: 0px;
border-color: transparent;
max-width: 100%;

font-family: gisha;
}
#search-btn-header:hover
{

background-color: #0190BC; 
border-color: 0px;
box-shadow: 0 1px, 5px, 2px black;

font-family: gisha;
}




#first-name, #middle-name, #last-name,
#signup-username, #signup-password,
#password-confirm, #email-address,
#mobile-num, #city, #province, #captcha, #date_of_birth, #id_captcha_1
{
	font-family: gisha;
	letter-spacing: 1px;
	border-color: transparent;
	border-radius: 0px;
	margin-bottom: 8px;
	background-color: rgba(250, 250, 250, 0.5);
	color:#3B3B3B;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	font-size: 18px;



}

#first-name:focus,
#middle-name:focus,
#last-name:focus,
#signup-username:focus,
#signup-password:focus,
#password-confirm:focus,
#email-address:focus,
#mobile-num:focus,
#city:focus,
#province:focus,
#captcha:focus,
#date_of_birth:focus
{
	border-radius: 0px;
	border-color: white;
	color:white;
	background-color:#5AD6FC ;
}




#gender
{
	padding-left:10px;
	padding-top: 6px;
	font-weight: bolder;
	margin-left: 0px;
	background-color: rgba(0, 0, 300, 0.3);
	border-radius: 0px;
	margin-bottom: 8px;
	width: 100%;
	color:white;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	height: 100%;
}

 #id_captcha_1
 {
 	border-radius: 0px;
 	border-top-right-radius: 20px;
 	border-bottom-right-radius: 20px;
 	margin-top: 3px;
 	width:410px;
 }
 #id_captcha_1:focus
 {
 		border-radius: 0px;
    	border-color: white;
    	color:white;
    	background-color:#5AD6FC ;
    	border-top-right-radius: 20px;
 	    border-bottom-right-radius: 20px;

 }

#signup-button
{
	width: 100%;
	height: 40px;
	border-color: transparent;
	border-radius: 0px;
	margin-bottom: 10%;
	color: white;
	background-color: #FA8800;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);	
	text-shadow: 0 1px 1px grey;
	font-family: gisha;
	letter-spacing: 2px;
	font-weight: bolder;
}
#signup-button:hover
{
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
	text-shadow: 0 1px 3px black;

}


#signup-button-header
{
	margin-top: 4px;
}

#male1, #female
{
	margin-right: 40px;
}

.navbar-toggle
{
	position: absolute;
		
}

.btn-warning {
    color: #FFF;
    background-color: rgba(240, 173, 78, 0.26);
    border-color: #EEA236;
}


.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: rgba(189, 140, 70, 0.3);
  border-color: #d58512;
}

#btn-background
{
	background-color: rgba(250, 250, 250, 0.1);
	background-position: center;
	height: 73px;
	width: 100%;
	border: white;
	border-radius: 40px;
	color : white;
	width: 70%;
	height: 70px;
	line-height:  50px;
	letter-spacing: 2px;
	border-radius: 0px;
	font-size: 50px;
	font-family: gisha;
	text-shadow: 0 1px 3px  #1E1D1D;
	border: 0px;
	box-shadow-right: 0 0px 4px 0px #1E1D1D;
	
}

a.register
{
	width: 50%;

	width: 500px;

	margin-bottom: 50px;
	border-radius: 50px;
	height: 2px;
	margin-top: 10%;
}
a.register:hover

{
	text-decoration: none;
	width: 80%;
	min-width: 400px;




}

.footer
{

	position: fixed;
	
	width: 100%;


	bottom: 0px;

	margin-top: 10%;
	min-width: 500px;

	text-align:right;
	background-color: #D2D7D3;



}

@media (max-width: 767px) {
.footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
#new
{
	margin-top: 60%;
	color: white;
	position: relative;
	margin-bottom: 5%;

}


#animation
{
	max-width: 100%;
	min-width: 700px;
	background-color: #5AD6FC;
	margin-left: 50%;

}

#animation2
{
	width: 100%;
	
	background-color: #5AD6FC;
	margin-left: 50%;

}
.container1{	

width:150px;
height:150px;
background:#5AD6FC;
color:#ffffff;
position:relative;
font-weight:bold;
font-size:15px;
padding:10px;
float:left;
margin:5px;
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:5px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
border-radius:5px;
opacity:0.4;
}

.container1:hover
{

border
opacity:1;
background:#FA8800;
width:170px;
height:170px;
font-size:30px;
box-shadow: 0 1px 5px 0px grey;
border-bottom: 5px solid white;




}
body {
  background-color:#BFBFBF;
  font-family: Helvetica, Arial;
  
  text-align:center;
}
#footer-logo {
  background: #D2D7D3;
  color:#222;
  display: inline-block;
  text-align:center;
  text-decoration:none;
  position: relative;
  width:40px;
  height:28px;
  margin:0 2px;
  padding-top:12px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#footer-logo.facebook {
  background: #D2D7D3 url(http://i.imgur.com/yflN00F.png) no-repeat center;
}
#footer-logo.twitter {
  background: #D2D7D3 url(http://i.imgur.com/ewQqTB1.png) no-repeat center;
}
#footer-logo.github {
  background: #D2D7D3 url(http://i.imgur.com/n3bmN8f.png) no-repeat center;
}
#footer-logo.dribbble {
  background: #D2D7D3 url(http://i.imgur.com/8c5A1ay.png) no-repeat center;
}
#footer-logo.pinterest {
  background: #D2D7D3 url(http://i.imgur.com/s8bNLol.png) no-repeat center;
}
#footer-logo span {
  background:#fff;
  color:#222;
 font-size:14px;
  font-weight: bold;
  position:absolute;
 bottom:0;
  left:-25px;
  right:-25px;
 padding:5px 7px;
  visibility:hidden;
  opacity:0;
 -webkit-transition: all .4s;
  transition: all .4s;
}

/* bottom arrow */
 #footer-logo span:before {
  content:'';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

#footer-logo:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
  cursor: pointer;
}
/* colors */
#footer-logo.facebook:hover {
 background-color: #4183D7;
  color: #BFBFBF;
  cursor: pointer;
}
#footer-logo.facebook span {
  color:#4183D7;
  cursor: pointer;
}
#footer-logo.twitter:hover {
  background-color: #19B5FE;
  color: #fff;
  cursor: pointer;
}
#footer-logo.twitter span {
  color:#19B5FE;
  cursor: pointer;
}
#footer-logo.github:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
#footer-logo.github span {
  color:#000;
  cursor: pointer;
}
#footer-logo.dribbble:hover {
  background-color: #F62459;
  color: #fff;
  cursor: pointer;
}
#footer-logo.dribbble span {
  color:#F62459;
  cursor: pointer;
}
#footer-logo.pinterest:hover {
  background-color: #F22613;
  color: #fff;
  cursor: pointer;
}
#footer-logo.pinterest span {
  color:#F22613;
  cursor: pointer;
}

#success-background {
  background-color: #FE9700;
  overflow: hidden;
  width:100%;
  text-align: right;
}

#canvas {
  position:absolute;
  left:0;
  top:0;
}

#confirm
{
	font-weight: bold;
	font-family: gisha;
	color: white;
	font-size: 50px;
	text-shadow: 0 1px 4px grey;
	padding-top: 100px;
	text-align: center;

}
