{% extends 'base.html' %}

{% block content %}
	<div id="login" class="container" align="center">
		<div id="log-in-header"><h4 id="header-greeting">Welcome back to e-Asenso!</h4></div>
		<input id="username" type="text" class="form-control" placeholder="username">
		<input id="password" type="password" class="form-control" placeholder="password">
		<button id="login-button" class="btn btn-primary">
		<h4 id="login-button-font">LET'S SHOP!</H4></button>
		<div id="forgot-pass"> <a href="#"><h4>Forgot Password?</h4></a></div>	
	</div>
{% endblock content %}