{% extends 'base.html' %}

{% block title %} {{ system_name }} {% endblock title %}



{% block id_body %} id="main-body" {% endblock id_body %}
{% block content %}
<header id="nav-header-menu"><nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="header-brand" class="navbar-header" align="right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
       
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <form class="navbar-form navbar-left" role="search">
        <div  class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search-btn-header" type="submit" class="btn btn-primary">Find it!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Log-in</a></li>
        <li class="dropdown dropdown-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>

<div id="animation">
		<div class="container1" align="right">APPAREL</div>
		<div class="container1" align="right">SPORTS</div>
		<div class="container1 "></div>
		<div class="container1 " align="right">TECH</div>
		<div class="container1 " align="right">SHOES</div>
		<div class="container1 "></div>
		<div class="container1 " align="right">ESTATES</div>
		<div class="container1 "></div>
		<div class="container1 " align="right">APPAREL</div>
		<div class="container1 "></div>
		<div class="container1 " align="right">APPAREL</div>
		<div class="container1 "></div>
		<div class="container1 " align="right">APPAREL</div>
		<div class="container1 "></div>
		<div class="container1 " align="right">APPAREL</div>
		<div class="container1 "></div>

	</div>
<div id="wrapper2">

	<div id="sign-up-container" class="container" align="center" 	>
<div id="sign-up-logo"> </div>
		
		<div id="signup-header" class="panel panel-warning"> Sign-up to e-asenso!</div>
<form class="form-horizontal" id="register_user" action="/signup/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		

		{{ form.firstname }}
		{{ form.middlename }}
		{{ form.lastname }}

		<div id="gender" class="container" align="left">	
			<label id="male" class="radio-inline">
			  <input type="radio" name="gender[]" id="inlineRadio1" value="M" checked> <p style=" font-family: gisha; letter-spacing: 1px; "> Male</p>
			</label>
			<label id="female" class="radio-inline">
			  <input type="radio" name="gender[]" id="inlineRadio2" value="F"> <p style=" margin-left:0px; font-family: gisha; letter-spacing: 1px;">Female</p>
			</label>
		</div>

			{{ form.username }}
			{{ form.password }}
			{{ form.confirm }}
			{{ form.email }}
			<div ng-controller="BirthDateCtrl">
				{{ form.date_of_birth }}
			</div>
			{{ form.mobile }}
			{{ form.city }}
			{{ form.province }}
			{{ captcha.captcha }}

			<!--enter captcha code here.
			<input id="captchba" type="text" class="form-control" placeholder="Enter CODE"-->
	
			<button id="signup-button" class="btn btn-warning">
				<h4 id="signup-button-header">SIGN ME UP!</H4></button>

	</form>
			</div>

</div>



<!--footer id="footer">Powered By T.O.P. Company & Developed By Tuko Web and IT Solutions</footer-->
{% endblock content %}
{%block custom_scripts%}
		
		<script type="text/javascript" src="{{STATIC_URL}}components/angular/angular.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}angular-app/app.js"></script>

		
		<script type="text/javascript" src="/static/angular-app/controllers/easenso_ctrl.js"></script>
{%endblock custom_scripts%}