{% extends 'base.html' %}

{% block title %} {{ system_name }}  {% endblock title %}
	
{% block id_body %} id="main-body" {% endblock id_body %}

{% block content %}
<header id="nav-header-menu"><nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="header-brand" class="navbar-header" align="right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
       
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <form class="navbar-form navbar-left" role="search">
        <div  class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search-btn-header" type="submit" class="btn btn-primary">Find it!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Log-in</a></li>
        <li class="dropdown dropdown-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
<div id="wrapper2" >
<div id="animation">
		<div class="container1" align="right">FASHION</div>
		<div class="container1" align="right">WELLNESS & BEAUTY</div>
		<div class="container1 " align="right">WATCHES</div>
		<div class="container1 " align="right">TECH</div>
		<div class="container1 " align="right">HOME APPLIANCES</div>
		<div class="container1 " align="right">HOME & LIVING</div>
		<div class="container1 " align="right">TOYS & KIDS</div>
		<div class="container1 " align="right">SPORTS</div>
		<div class="container1 " align="right">AUTOMOTIVES</div>
		<div class="container1 " align="right">MOBILES & TABLETS</div>
		<div class="container1 " align="right">TRAVEL</div>
		<div class="container1 " align="right">LAPTOPS & COMPUTERS</div>
		<div class="container1 " align="right">MEDIA</div>
		<div class="container1 " align="right">CAMERAS</div>
		<div class="container1 " align="right">JEWELRIES</div>
		<div class="container1 " align="right">AND MORE!</div>

	</div>
<div  id="sign-up-container"  class="container" >
	<p> <font size="2">
				<b>TERMS AND CONDITIONS OF USE<b> <br/>
				<p>The use of this Website is subject to the following Terms and Conditions:</p>
 <p  align="justify">1.)	EASENSO is an e-commerce company that offers a wide variety of buy and sell services. For the purpose of the Terms and Conditions and wherever the context so require, the terms ‘You’, ‘you’, ‘Your’ or ‘your’ shall mean any person who uses this Website and all of its services in any manner (i.e., browsing, posting comments and responding to any advertisements or contents of the Website EASENSO.ph). The terms ‘We’, ‘we’ or ‘us’ shall include this EASENSO’s officers, owners, employees, or agents.
</p>
 <p align="justify">2.)	If you continue to browse the Website EASENSO.ph, it is implied that you agree to comply with and be bound by its terms and conditions of use. In addition, you agree that you are solely responsible for reviewing these Terms and Conditions for they may change from time to time. You may not use the Website EASENSO.ph if you disagree on any or all of the terms and conditions.</p>
 <p align="justify">3.)	The terms and conditions may be updated by EASENSO at any time at its sole discretion by posting on this Website the updated Terms and Conditions of Use and shall be effective immediately upon posting.
</p>
 <p align="justify">4.)	You shall create a Member ID and Password for your account to access the Service through such account. You shall be solely responsible for maintaining the confidentiality of your Member ID and Password and for all activities that occur under your account.
</p> 
 <p align="justify">5.)	You hereby represents, warrants and agrees that the use of this Website and its Services, in any way, shall not:
 <p style="padding-left: 20px" align="justify">a.	involve any fraudulent information;</p>
 <p style="padding-left: 20px" align="justify"> b.	involve the sale or attempted sale of counterfeit or stolen items;</p>
 <p style="padding-left: 20px" align="justify">c.	involve any transactions prohibited by applicable law, or otherwise promote other illegal activities;</p>
 <p style="padding-left: 20px" align="justify">d.	be part of a scheme to swindle other users of this Website;</p>
 <p style="padding-left: 20px" align="justify">e.	impersonate any person or entity, misrepresent yourself with any person or entity;</p>
 <p style="padding-left: 20px" align="justify">f.	contain information that is libelous, unlawfully threatening or unlawfully harassing;</p>
 <p style="padding-left: 20px" align="justify">g.	promote pornography or any other content or otherwise promotes sexually explicit materials or is otherwise harmful to minors;</p>
 <p style="padding-left: 20px" align="justify">h.	encourage or promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;</p>
 <p style="padding-left: 20px" align="justify">i.	involve unauthorized advertising;</p>
 <p style="padding-left: 20px" align="justify">j.	include descriptions of goods or services or other materials that violate any law or regulation or are prohibited under this Agreement or the Terms and Conditions of Use; or</p>
 <p style="padding-left: 20px" align="justify">k.	otherwise create any liability for EASENSO.PH.</p>

</p>
 <p align="justify">6.)	You acknowledges that you fully assume the risks of transactions when using this Website to conduct transactions. Such risks shall include, but not limited to, misrepresentation of products and services, fraudulent schemes, unsatisfactory quality, failure to meet specifications, defective products, delay or default in delivery or payment, cost miscalculations, breach of warranty, breach of contract and transportation accidents.
</p>
 <p align="justify">7.)	You are solely responsible for all of the terms and conditions of the transactions conducted on, through or as a result of use of this Website, including, but not limited to, terms regarding payment, returns, warranties, shipping, insurance, fees, taxes, title, licenses, fines, permits, handling, transportation and storage.
</p>
 <p align="justify">8.)	Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance or suitability of the information and materials found or offered on this Website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or error and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by applicable law.
</p>
 <p align="justify">9.)	The use of any information or material on this Website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any product, services or information available through this website meet your specific requirements.
</p>
 <p align="justify">10.)	This Website contains material which is owned by and licensed to EASENSO. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with copyright notice, which part of these terms and conditions.
</p>
 <p align="justify">11.)	Unauthorized use of EASENSO.PH may give rise to a claim for damages and/or be a criminal offense.
</p>
 <p align="justify">12.)	From time to time, EASENSO.PH may also include link to other website. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). EASENSO is not responsible for the content of the linked website(s).
</p>
 <p align="justify">13.)	The use of this Website and any dispute arising out of such use of the website is subject to the law of the Republic of the Philippines.
</p>
<p align="justify">14.)	If there is any conflict between the English version and another language version of this Agreement, the English version shall prevail.
</p>
<p align="justify">15.)	BY COMPLETING THE REGISTRATION PROCESS AND CLICKING THE "I AGREE" BUTTON, YOU ARE INDICATING THAT YOU ARE AGREE TO BE BOUND BY THIS WEBSITE’S TERMS AND CONDITIONS OF USE. 
</p>

<br/>
<br/>
<br/>
</font>

			</p>
</div>
		
</div>
{% endblock content %}