<!DOCTYPE html>


<html lang="en">


<head>

<script src= "file:///C:/Users/HSNDN/Desktop/E-Asenso//assets/js/bootstrap.min.js"></script>

<script src= "file:///C:/Users/HSNDN/Desktop/E-Asenso//assets/js/bootstrap.js"></script>
	
<script src= "file:///C:/Users/HSNDN/Desktop/E-Asenso//assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="file:///C:/Users/HSNDN/Desktop/E-Asenso//assets/css/style.css" type="text/css">



</head>

<body>

	<div id="main" class="container" align="center">



		<div class="row  col-xs-12">
		 
		


				 	<div id="LOGO" class="jumbotron">
				 		<div class="container">
				  		
				  		<h1 class= "header">WELCOME TO E ASENSO!</h1>
				  	
				  		</div>
				 	</div>


						<input id="search" type="text" class="form-control" placeholder="FIND ME SOMETHING AWESOME!">

						<button type="button" class ="btn btn-default btn-lg" data-toggle="tooltip" data-placement ="top" title="Find awesome items!">
							FIND IT!
						</button>

						<H4 id="or" >OR YOU CAN</H4>

					<div id="dollar" class="input-group input-group-lg">
		 			 <span class="input-group-addon">$</span>
		 		     <input style="text-align:center;" type="text" class="form-control" placeholder="Find what your money can buy! Just enter the amount you have!">
		  			
					</div>
						

				 	<div id="early" class="btn btn-warning btn-lg">
				 		Click here for EARLY registration!
				 	</div>

					<!-- <ul class ="nav nav-tabs" role ="tablist">
						
						<li class="active">
						<a href="#">ALREADY A MEMBER?
						</a>

						TRIAL
						</li>
						
						<li>
							<a href="#"> BE A MEMBER!
							</a>

							TRIAL

						</li>				
					</ul> 		
						-->	
					


		
	</div>
</body>



</html>

<script src= "file:///C:/Users/HSNDN/Desktop/E-Asenso//assets/js/bootstrap.min.js"></script>

<script src= "file:///C:/Users/HSNDN/Desktop/E-Asenso//assets/js/bootstrap.js"></script>
	
<script src= "file:///C:/Users/HSNDN/Desktop/E-Asenso//assets/js/jquery.min.js"></script>