{% extends 'base.html' %}

{% block title %} {{ system_name }} - Coming Soon! {% endblock title %}

{% block id_body %} id="main-body" {% endblock id_body %}

{% block content %}
	<div id="wrapper">
		<div id="main-logo" >
			<div id="main" class="container-fluid" >
				<div id="new" align="center">	
					<a id="test" href="/registration" >
						<h3> CLICK HERE FOR EARLY REGISTRATION! </h3>
					</a>
				</div>
			</div> 
		</div>
		<footer class="footer">Powered By T.O.P. Company & Developed By Tuko Web and IT Solutions
		</footer>
	</div>
{% endblock content %}